<p>Hello <%= @admin.name %></p>
<p>
  This is a reminder of the upcoming payment date (in two days)<br>
  <%= @payment_details[:date] %><br>
    A <%= @payment_details[:amount] %> <%= @payment_details[:salary_or_bonus] %> payment
</p>
<p>Have a good day!</p>
 
